
.search__bg {
  background-image: url(/img/index-jobs-banner.jpg);
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}